<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobemailsenderfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8acfbbf3-d2fc-412d-b553-ee7ec2589600/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/blobEmailSenderFunction</ResourceId>
    <UserName>$blobEmailSenderFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blobemailsenderfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>